html {
    overflow: hidden;
    height: 100%;
    background: #191919;
    width: 100%;
}

#canvas {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/600764/space.jpg') no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#canvas.playing {
    cursor: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/600764/aim_red.png') 17.5 17.5,auto !important;
}

.full-screen {
    position: fixed;
    width: 35px;
    height: 35px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/600764/full-screen.png) no-repeat;
    z-index: 10;
    display: block;
    right: 10px;
    bottom: 10px;
}