.head{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) ,url(img/background3.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}